* {
  font-family: "Roboto", "Open Sans", "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
}

.containerBackground {
  width: 100%;
  height: 100%;
  background: lightblue;
  position: absolute;
  overflow: hidden;
}

.containerBackground::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #3498db 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3498db 20%);
  background-size: 50px 50px;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20%, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.guide-mobile {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.5);
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease;
  justify-content: center;
}

.handOut {
  max-width: 20%;
  height: auto;
  filter: brightness(0) invert(1);
  animation: zoomOutFade 3.5s forwards;
}

@keyframes zoomOutFade {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  25% {
    transform: scale(0.5);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 0;
  }
  85% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.handIn {
  max-width: 20%;
  height: auto;
  filter: brightness(0) invert(1);
  animation: scaleInFadeOut 3s forwards;
}

@keyframes scaleInFadeOut {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.handMove {
  max-width: 20%;
  height: auto;
  filter: brightness(0) invert(1);
  animation: moveAnimation 8s forwards;
}

@keyframes moveAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  12.5% {
    opacity: 1;
    transform: translate(0, -20px);
  }
  25% {
    opacity: 1;

    transform: translate(0, 0);
  }
  37.5% {
    opacity: 1;

    transform: translate(20px, 0);
  }
  50% {
    opacity: 1;

    transform: translate(0, 0);
  }
  62.5% {
    opacity: 1;

    transform: translate(0, 20px);
  }
  75% {
    opacity: 1;

    transform: translate(0, 0);
  }
  87.5% {
    opacity: 1;

    transform: translate(-20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

.close {
  opacity: 0;
}

.container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.container-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.container-move {
  transform: rotateY(180deg) scale(1);
}

.container-front,
.container-back {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 98%;
  height: 99%;
  backface-visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}
.container-front {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 97vh;
  justify-content: center;
  font-size: 24px;

  transform: rotateY(0deg) scale(0.5);
  flex-direction: row;
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  outline: none;
}
.form-group button {
  outline: none;
  padding: 15px 80px;
  user-select: none;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.form-group button:hover {
  background-color: #333;
  color: white;
}

.container-back {
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  background-color: #212121;
  transform: rotateY(180deg);
}

.task-controls {
  display: flex;
}

.header {
  display: flex;
  gap: 10px;
  color: white;
  padding: 5px;
  background-color: #212121;
  user-select: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.controls-container {
  display: flex;
  gap: 10px;
}

.button {
  background-color: #333;
  color: white;
  user-select: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.shape.box {
  background-color: #333;
  transition: background-color 0.2s ease;
}

.shape.box:hover {
  background-color: #555;
}

.button:hover {
  background-color: #555;
}

.shapes {
  display: flex;
  gap: 10px;
}
.shape {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box {
  background-color: #212121;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.task-entry {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.task-entry .entry-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 20px;
  transition: transform 0.3s ease;
}

.task-entry .entry-text.scrolling {
  animation: scroll-text linear infinite;
}

.task-entry .entry-text.line-through {
  text-decoration: line-through;
  color: #888;
}

@keyframes scroll-text {
  0%,
  100% {
    transform: translateX(10px);
  }
  99.99% {
    transform: translateX(calc(-100% + 100px));
  }
}

.task-entry:hover .entry-text.scrolling {
  animation-play-state: paused;
}

.task-entry .remove-button {
  flex-shrink: 0;
}

.task-entry .entry-text:hover {
  overflow: visible;
}
.task-entry .entry-text.line-through {
  text-decoration: line-through;
  color: #888;
}

.task-entry .remove-button {
  flex-shrink: 0;
}

.circle-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
}

.task-container {
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
  display: flex;
  position: absolute;
  width: 99.7%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: auto;
  scroll-behavior: smooth;
}

.textContainer {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  color: white;
  width: 100%;
  text-align: center;
}

.typewriter {
  display: inline-block;
  max-width: 80%;
  position: relative;
  top: 10%;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;

  font-size: 2vw;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(0, 0, 0, 0.441);
  }
}

@media (max-width: 768px) {
  .typewriter h1 {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .typewriter h1 {
    font-size: 3vw;
  }
}

.task-content {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  transform-origin: 0 0;
}
.task {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #ccc;
  cursor: move;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
}

.task input {
  height: 100%;
  user-select: none;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 5px;
  font-size: 18px;
  transition: background-color 0.2s ease;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task input:hover {
  overflow: visible;
}

.task-entries {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-contents button {
  user-select: none;
}

.task button {
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  padding: 5px;

  transition: background-color 0.2s ease;
  user-select: none;
}

.task button:hover {
  background-color: #ccc;
}

.task input::placeholder {
  color: #ccc;
}

.line {
  position: absolute;
  background-color: red;
  height: 2px;
  z-index: 1000;
  transform-origin: 0 0;
}
.arrow {
  position: absolute;
  width: 0;
  z-index: 1000;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid red;
  transform-origin: 50% 100%;
}

.line-label {
  color: white;
  user-select: none;
  position: absolute;
  z-index: 1000;
  background-color: #333;
  padding: 2px 5px;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 12px;
}
.selection-indicator {
  position: absolute;
  border: 2px dashed #007bff;
  pointer-events: none;
}
.temp-line {
  position: absolute;
  background-color: #007bff;
  height: 2px;
  transform-origin: 0 0;
  pointer-events: none;
}
